<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Straitv_DynamicProduct::admin_menu" title="Straitv Menu" sortOrder="51">
                    <resource id="Straitv_DynamicProduct::dynamic_product" title="Dynamic Product" sortOrder="10"/>
                    <resource id="Straitv_DynamicProduct::straitv_dynamic_product_configuration" title="Configuration" sortOrder="99" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Straitv_DynamicProduct::straitv_config" title="Solar Calculator"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>