<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Straitv\DynamicProduct\Api\ProductUpdateManagementInterface" type="Straitv\DynamicProduct\Model\ProductUpdateManagement"/>
    <preference for="Straitv\DynamicProduct\Api\ProductCreateManagementInterface" type="Straitv\DynamicProduct\Model\ProductCreateManagement"/>
    <type name="Straitv\DynamicProduct\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Straitv\DynamicProduct\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">productupdate</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Straitv\DynamicProduct\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="dynamic_product_create" xsi:type="object">Straitv\DynamicProduct\Console\Command\CreateProduct</item>
            </argument>
        </arguments>
    </type>
</config>